.navlinks ul{
  display: flex;
  flex-direction: row;
  padding-left: 5%;
}

#burger {
  display: none;
}
a {
    text-decoration: none;
  }
  p {
    margin-right: 30%;
  }
  img {
    margin-left: 20%;
  }
  h1 {
    margin-left: 25%;
  }
  body {
    margin-left: 10%;
  }
  #img1 {
    margin-left: 15%;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: whitesmoke;
  }
  .logo {
    height: 3%;
    width: 10%;
    margin-left: 0%;
  }
  
  .navlinks {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-evenly;
  
  }
  
  #logoimg {
    height: 30%;
    width: 40%;
  }
  
  .nvlink {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 100%;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .nvlink:hover {
    text-shadow: 5px 5px 5px;
  }
  
  
  @media screen and (max-width: 600px) {
  .navbar{
    align-content: flex-end;

  }
  
    .navlinks{
    display: none;
  }
  #burger{
    display: inline;
    right: 0;
    top: 0;
   
  }
  .navlinks.small-screen{
   display: flex;

   
    position: absolute;
flex-direction: column;  
margin-top: 200px; 
margin-right: 0;
}
  
  
  .navlinks.small-screen a {
  position: absolute;
  flex-direction: column;
  text-align: right;
  
}
  
  #burger div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

#burger:hover{
  background-color: orange;
}
}
